<div class="row">
    <div class="col-8">
        <ngx-graph
            layout="dagreCluster"
            class="chart-container"
            [view]="[1300, 1300]"
            [links]=nodesLinks
            [nodes]=projectNodes

            (click)="graphClicked($event)"
        >
            <ng-template #defsTemplate>
                <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                            orient="auto">
                    <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
                </svg:marker>
            </ng-template>

            <ng-template #nodeTemplate let-node>
                <svg:g class="node">
                    <svg:rect
                        [attr.type]="node.id"
                        [attr.width]="node.dimension.width"
                        [attr.height]="node.dimension.height"
                        [attr.fill]="node.data.color"
                    />

                    <svg:text
                        alignment-baseline="central"
                        [attr.x]="10"
                        [attr.y]="node.dimension.height / 2"
                    >

                        {{ node.label }}
                    </svg:text>
                </svg:g>
            </ng-template>

            <ng-template #linkTemplate let-link>
                <svg:g class="edge">
                    <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
                    <svg:text class="edge-label" text-anchor="middle">
                        <textPath
                            class="text-path"
                            [attr.href]="'#' + link.id"
                            [style.dominant-baseline]="link.dominantBaseline"
                            startOffset="50%"
                        >
                            {{ link.label }}
                        </textPath>
                    </svg:text>
                </svg:g>
            </ng-template>

        </ngx-graph>
    </div>
    <div class="col-4">
        @if (isOpenModalProyectoAgente()) {
            <div class="row" style="margin-left: 5px; margin-right: 5px">
                <div class="col-10">
                    <h3>{{ title() }}</h3>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" (click)="close()">Cerrar</button>
                </div>
            </div>
            <div class="row" style="margin-left: 5px; margin-right: 5px">
                <div class="col-12">
                    <app-agent-project></app-agent-project>
                </div>
            </div>
        }

        @if (isOpenModalAgenteIa()) {
            <div class="row" style="margin-left: 5px; margin-right: 5px">
                <div class="col-10">
                    <h3>{{ title() }}</h3>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" (click)="close()">Cerrar</button>
                </div>
            </div>

            <div class="row" style="margin-left: 5px; margin-right: 5px">
                <div class="col-12">
                    <app-ai-agent></app-ai-agent>
                </div>
            </div>

        }

        @if (isOpenModalAgenteModelo()) {
            <div class="row" style="margin-left: 5px; margin-right: 5px">
                <div class="col-10">
                    <h3>{{ title() }}</h3>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" (click)="close()">Cerrar</button>
                </div>
            </div>

            <div class="row" style="margin-left: 5px; margin-right: 5px">
                <div class="col-12">
                    <app-agent-model></app-agent-model>
                </div>
            </div>

        }

        @if (isOpenModalAgenteMemoria()) {
            <div class="row" style="margin-left: 5px; margin-right: 5px">
                <div class="col-10">
                    <h3>{{ title() }}</h3>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" (click)="close()">Cerrar</button>
                </div>
            </div>

            <div class="row" style="margin-left: 5px; margin-right: 5px">
                <div class="col-12">
                    <app-agent-memory></app-agent-memory>
                </div>
            </div>
        }

        @if (isOpenModalAgenteHerramientas()) {
            <div class="row" style="margin-left: 5px; margin-right: 5px">
                <div class="col-10">
                    <h3>{{ title() }}</h3>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" (click)="close()">Cerrar</button>
                </div>
            </div>

            <div class="row" style="margin-left: 5px; margin-right: 5px">
                <div class="col-12">
                    <app-agent-tools></app-agent-tools>
                </div>
            </div>
        }
    </div>
</div>

